.container {
  text-align: center;
}

img{
  width:50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

img.pc{
  width: 78%;
}

hr{
  display :none;
}

a{
text-decoration: none;
color:inherit;
display: block;
}

.container.steps a:hover{
  opacity: 0.7;
}

/* .container.lezioni{
  background:lightblue;
}

.container.steps{
  background:lightgreen;
}

.container.why{
  background:rgba(200, 158, 32, 0.61);
} */



/* NOTE: desktop */
@media screen and (min-width:992px){

  body{
    background-image: url(img/music.jpg);
    background-attachment: fixed;
  }

  h1,h3,p{
    color:white;
  }

  h1,h3{
    text-transform: uppercase;
  }

  .container.lezioni,
  .container.steps,
  .container.why{
    margin:0;
    max-width: 100%;
  }

  .container.lezioni,
  .container.steps,
  .container.why{
    border:1px solid white;
    background: none;
  }

  .container.steps{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* NOTE: tablet */
@media screen and (min-width:768px) and (max-width:991px){
  .container.lezioni,
  .container.steps,
  .container.why{
    margin:0 auto;
    max-width: 95%;
    border-radius: 10px;
    padding:10px;
  }

  .container.lezioni{
    background-image: url(img/violino.jpg);
    background-size: cover;
  }

  .container.steps{
    background-image: url(img/tromba.jpeg);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img.pc{
    margin-bottom: 7px;

  }

  p{
    color:white;
    display: inline-block;
    width:60%;
  }

  .container.why{
    background-image: url(img/pianoforte.jpg);
    background-size: cover;

  }

  h1,h3,p{
    color:white;
  }

  h1,h3{
    text-transform: uppercase;
  }

  .border{
    border:1px solid white;
  }

}

/* NOTE: smartphone */
@media screen and (max-width:767px){

  body{
    background-image: url(img/music-smart.jpg);
    background-attachment: fixed;
    background-size:cover;
  }

  .container.lezioni,
  .container.steps,
  .container.why{
    margin:0 auto;
    width: 100%;
    padding:5%;
    border-radius: 10px;
  }

  .container [class*="col-"] .container{
    border:1px solid white;
  }

  img{
    width: 40%;
  }

  .why img{
    background-image:linear-gradient(#AA1433, #FEB61C);
    border-radius:50%;
    padding:10%;
  }

  h1{
    background: -webkit-linear-gradient(#AA1433, #FEB61C);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-transform:uppercase;
    border-radius: 10px;
    display:inline-block;
    border:1px solid white;
    padding: 5px;
    width: auto;
  }

  h3{
    color:white;
    text-transform:uppercase;
    border-radius: 10px;
    display:block;
    border:1px solid white;
    width:40%;
    margin-left: 30%;
  }

  p{
    color:white;
    display: inline-block;
    width:70%;
  }

 .container.steps{
   margin-top: 10px;
   margin-bottom: 10px;

 }

}

/* .row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
} */

/* BLOCCO LEZIONI */


/* .lezioni .row > .left, #lezioni .row > .right{
  width: 100%;
  float: left;
} */

/* .lezioni .row img {
  /* per centrare orizzontalmente */
  /* display: block;
  margin-right: auto;
  margin-left: auto;
} */ */

/* BLOCCO STEPS */
/* #steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
/* #why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

/* [background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
} */
